
<div class="container" ng-controller="ReferralCtrl">
<div class="row">
    <div class="col-md-12">
        <nav class="navbar-inverse navbar-fixed-top">
            <div class="navbar-text">
                <img alt="[MEAN]JS" src="assets/images/logo-mean.png" height="50" width="50">
            </div>
            <div class="navbar-text col-md-7">
                <h3>Patient eReferral MEAN Stack App</h3>
            </div>
            <div class="navbar-text navbar-right col-md-2">
                Signed in as <a href="#">{{user}}</a>
            </div>
        </nav>
    </div>
</div>
    </div>
